<div class="hero" (window:scroll)="didScroll()">
  <div class="card-wrapper" (click)="openCard()">
    <div
      class="hero-card"
      [ngClass]="{
        'closed': !cardIsOpen,
        'opened': cardIsOpen
      }">
      <div class="card-back"></div>
      <md-card class="card-front">
        <md-card-content>
          <div class="title">
            <h1>Jonatan</h1>
            <h1>Cardona</h1>
            <h1>Casas</h1>
          </div>
          <div class="content">
            <span>Medellín, Colombia</span>
            <span>
              <a href="mailto:jace.casas@gmail.com" (click)="$event.stopPropagation()">
                jace.casas@gmail.com
              </a>
            </span>
            <span>
              <a href="tel:+57 319 786-7361" (click)="$event.stopPropagation()">
                +57 319 786-7361
              </a>
              <i class="fa fa-whatsapp"></i>
            </span>
            <span class="social">
              <a href="https://github.com/jaceee" target="_blank" (click)="$event.stopPropagation()"><i class="fa fa-github"></i></a>
              <a href="https://fb.me/jacecasas" target="_blank" (click)="$event.stopPropagation()"><i class="fa fa-facebook"></i></a>
            </span>
          </div>
        </md-card-content>
      </md-card>
    </div>
  </div>

  <div
    class="call-to-scroll animated"
    [ngClass]="{
      'bounce infinite': !scrolled,
      'bounceOutDown': scrolled
    }">
    <md-icon>&#xE313;</md-icon>
  </div>
</div>
