.hero {
  display: -webkit-flex;
  display: flex;

  position: relative;
  perspective: 800px;

  width: 100%;
  height: 100vh;

  background-color: #222222;

  -webkit-justify-content: center;
  justify-content:         center;

  -webkit-align-items: center;
  align-items:         center;

  -moz-box-shadow:    inset 0 -10px 10px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0 -10px 10px rgba(0, 0, 0, 0.4);
  box-shadow:         inset 0 -10px 10px rgba(0, 0, 0, 0.4);
}

.hero-card {
  transform-style: preserve-3d;

  transition: transform 700ms;
  transition-timing-function: cubic-bezier(0.000, 1.310, 0.740, 0.985);
}

.hero-card.closed {
  transform: rotateY(180deg);
}

.card-wrapper:hover .hero-card.closed {
  transform: rotateY(180deg) translateZ(-80px);
}

.hero-card.opened {
  transform: rotateY(0) translateZ(50px);
}

.card-back {
  position: absolute;
  width: 100%;
  height: 100%;

  background-color: #444444;
  background-image: url('/assets/img/reverso-tarjeta.png');
  background-repeat: no-repeat;
  background-size: auto 65%;
  background-position: center 70%;

  -moz-box-shadow:    0 0 30px rgba(60, 175, 185, 0.4);
  -webkit-box-shadow: 0 0 30px rgba(60, 175, 185, 0.4);
  box-shadow:         0 0 30px rgba(60, 175, 185, 0.4);

  backface-visibility: hidden;
  transform: translateZ(-1px) rotateY( 180deg );
}

.card-front {
  text-align: center;
  backface-visibility: hidden;

  background-color: #EEEEEE;
}

.card-front md-card-content {
  padding: 25px;
}

.card-front .title {
  margin: 5px 0;
}

.card-front .title h1 {
  display: inline-block;
  margin: 0 3px;
  color: #222222;
}

.card-front .content {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.2em;
  line-height: 1.5em;
}

.card-front .content span {
  display: block;
  color: #222222;
}

.card-front .content span a, .card-front .content span a:visited {
  color: #222222;
  text-decoration: none;
}

.card-front .content span a:hover {
  color: #29779B;
  text-decoration: underline;
}

.card-front .content span a:active {
  text-decoration: underline;
}

.call-to-scroll {
  position: absolute;
  bottom: 0;

  color: #EEEEEE;
  text-align: center;

  overflow: hidden;
}

.call-to-scroll {
  font-size: 5em;
  cursor: none;
  pointer-events: none;
}
